{% extends 'base2.html' %}
{% block body %}


<section>

    <div class="row mt-5">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          {% for message in messages  %}
              <div class="alert alert-{{message.tags}}" >
                {{message}}
               </div> 
            {% endfor %}
            <form id="post_form" action="{% url 'add_vehicle' %}" method="post" enctype="">
                {% csrf_token %}
                <h1 class="mb-3">Vehicle Management</h1>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Vehicle Number</label>
                  <input type="text" class="form-control"  id="number" name="vehicle_number" Required  >
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Vehicle Type</label>
                  <select class="form-control" name="type"  id="type">
                    <option value="Two Wheeler">Two Wheeler</option>
                    <option value="Three Wheeler">Three Wheeler</option>
                    <option value="Four WHheeler">Four WHheeler</option>
                   
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Vehicle Model</label>
                  <input type="text" name="model" class="form-control" id="model" Required >
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Vehicle  Description</label>
                  <textarea class="form-control" name="description" id="desc" Required rows="3"></textarea>
                </div>
                <div class="form-group">
                   <button type="submit" id="btn1" class="btn btn-success w-100">Submit</button>
                  </div>
              </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</section>

<script>
  $(document).ready(function(){
    $('.alert').hide(4000);
  })
</script>

{% endblock %}